<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Welcome</title>

    <style>
        
    </style>
</head>
<body>
    <div class="container-fluid bg-dark text-light vh-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-1">Welcome to <b>My Users App</b></h1>

        <div class="links">
            <h3 class="display-3">You can go to:</h3>
            <ul class="list-unstyled text-center">
                <h3><a href="/users" class="stretched-link text-light"><li>Users</li></a></h3>
                <!-- <h3><a href="/sign_in" class="stretched-link text-light"><li>Sign In</li></a></h3> -->
                <!-- <h3><a href="/sign_out" class="stretched-link text-light"><li>Sign Out</li></a></h3> -->
            </ul>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>