<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Sign In</title>
</head>
<body>
    <div class="container-fluid bg-dark vh-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center text-{{color}}">{{response}}</h1>
        <form action="/sign_in" method="POST" id="myForm" class="bg-light form shadow p-3 mb-5 bg-white rounded col-md-4">
            <h1 class="text-center">Login</h1>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
            </div>

            <button type="submit" class="btn btn-success btn-block">Sign In</button>
        </form>
        <a href="/users" class="btn btn-primary">Go Back</a>
    </div>
    <script>
        let form = document.querySelector("#myForm");
            form.addEventListener("submit", function (event) {
                HTMLFormElement.prototype.submit.call(form);
                event.preventDefault();
                return false;
            });
    </script>
</body>
</html>